body{
    font-family:'Noto Sans TC','Microsoft JhengHei'; 
    margin: 0;
}
.present{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 320px;
}
.present-image{
    position: absolute;
    z-index:0;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: 100% 0;
}
.slogan{
    position: absolute;
    z-index:1;
    width: 1180px;
    display: block;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 75px;
    padding: 10px;
}
.slogan-text{
    font-size: 28px;
    margin-bottom: 15px;
}
.slogan-bar{
    position: absolute;
    z-index:1;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 25px;
}
input[type=text]{
    font-size: 14px;
    width: 380px;
    padding: 14px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px; 
    border-style:none;
    margin: 0;
    outline: none;
}
.category-box{
    display: none;
    width: 400px;
    position: relative;
    top: 75px;
    border-radius: 6px;
    border: 1px solid #a9a9a9;
    background-color: #FFFFFF;
}
.category-box-content{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 20px 40px;
    margin: 20px;
    color: #757575;
}
.cate{
    display: flex;
    justify-content:center;
    color: #666666;
    font-size: 16px;
    cursor: pointer;
}
.cate:hover{
    border-radius: 3px;
    background-color: lightgray;
}
.search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 46px;
    border: none;
    border-radius: 0 6px 6px 0; 
    background-color: #448899;
    cursor: pointer;
}
.search-image{    
    width: 30px;
    height: 30px;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 270px);
    grid-gap: 30px;
    margin: 30px 0 0 0 ;
}

.lds-dual-ring {
    display: inline-block;
    transform: translate(0, 20px);
    position: absolute;
    z-index: 40;
    width: 40px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #448899 transparent #448899 transparent;
    animation: lds-dual-ring 1.5s linear infinite;
}
@keyframes lds-dual-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.asdload{
    color:#66AABB;
}


.attraction{
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    text-decoration:none;
}
.image-content{
    position: relative;
    z-index:0;
    overflow: hidden;
}
.image-content img{
    transition:all 0.5s ease 0s;
}
.image-content:hover img{
    transform: scale(1.2);
    transition:all 1.2s ease 0s;   
}
.image{
    display:block;
    width: 100%;
    height: 195px;
    object-fit: cover;  
    object-position: center;
}
.name{
    position: absolute;
    z-index:1;
    bottom:0px;
    width: calc(100% - 20px);
    font-size: 16px;
    padding: 10px;
    color:#FFFFFF;
    background: rgba(0, 0, 0, 0.6);
}
.mark{
    display: flex;
    justify-content:space-between;
    height: 45px;
    color:#757575;
}
.metro{
    width: 125px;
    height: 25px;
    margin: 10px 0 10px 10px;
}
.category{
    display: flex;
    justify-content: right;
    width: 125px;
    height: 25px;
    margin: 10px 10px 10px 0;
}
@media (max-width:1200px){
    .main-content{
        grid-template-columns: repeat(2, 45%);
    }
    .slogan{
        width: 93%;
    }
}
@media (max-width:600px){
    .slogan{
        width: 80%;
    }
    input[type=text]{
        width: 230px;
    }
    .category-box{
        width: 250px;
    }
    .category-box-content{
        grid-template-columns: repeat(3, 72px);
        grid-gap: 10px 10px;
        margin: 10px 0 10px 0;
    }
    .main-content{
        grid-template-columns: 95%;
    }   
}
@media (max-width:370px){
    .slogan{
        width: 96%;
    }
    .main-content{
        grid-template-columns: 97%;
    }   
}