<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% block static %}{% endblock %}
</head>
<body>
    <div class="overlay"></div>
    <div class="dialog">
        <div class="decorator-bar"></div>
        <div class="dialog-login-content">
            <div class="dialog-title">
                登入會員帳號
                <button class="close-button">
                    <img class="img-close" src="{{ url_for('static', filename='image/icon_close.png') }}" alt="">
                </button>
            </div>
            <input type="email" class="dialog-login-email"
                name="email" placeholder="輸入電子信箱&nbsp;(xxx@xxx.com)">
            </input><br>
            <input type="password" class="dialog-login-password" name="password"
                placeholder="輸入密碼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(6-20個數字)">
            </input><br>
            <button type="submit" class="dialog-login-button">登入帳戶</button>
            <div id="loginmessage"></div>
            <div class="dialog-text">還沒有帳戶？<button class="signup-button">點此註冊</button></div>
        </div>
        <div class="dialog-signup-content">
            <div class="dialog-title">
                註冊會員帳號
                <button class="close-button">
                    <img class="img-close" src="{{ url_for('static', filename='image/icon_close.png') }}" alt="">
                </button>
            </div>
            <div class="signup-name-fence">
                <input class="dialog-signup-name" name="name" 
                    placeholder="輸入姓名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(可使用中文、英文大小寫、數字)">
                </input><br>
            </div>
            <div class="signup-email-fence">
                <input type="email" class="dialog-signup-email"
                    name="email" placeholder="輸入電子信箱&nbsp;(xxx@xxx.com)">
                </input><br>
            </div>
            <div class="signup-password-fence">
                <input type="password" class="dialog-signup-password" name="password"
                    placeholder="輸入密碼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(6-20個數字)">
                </input><br>
            </div>
            <button type="submit" class="dialog-signup-button">註冊新帳戶</button>
            <div id="signmessage"></div>
            <div class="dialog-text">
                <div class="tip">已經有帳戶了？</div>
                <div class="signsusses">註冊成功 =></div>
                <button class="login-button">點此登入</button>
            </div>
        </div>
    </div>

    <nav class="navigation">
        <div class="head">
            <div class="head-text">臺北一日遊</div>
            <div class="head-button">
                <button class="booking">預定行程</button>
                <button class="btn-login">登入/註冊</button>
                <button class="btn-logout">登出系統</button>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer class="footer">
        <div class="footer-text">COPYRIGHT © 2022 臺北一日遊</div>
    </footer>
    <script derf src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</body>
</html>