{% extends "base.html" %}

{% block title %}預定臺北一日遊行程{% endblock %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}

{% block content %}
<sention>
    <div class="notice">
        <div class="notice-text">您好，<span class="username"></span>，待預定的行程如下：</div>   
    </div>
    <div class="no-reservation">目前沒有預定任何行程</div>
    <div class="have-reservation">
        <div class="booking-zone">
            <div class="booking-trip">
                <div class="trip-site-img"></div>
                <div class="trip-site-message">
                    <div class="site-title">臺北一日遊：<span class="attraction-name"></span>
                        <button class="garbage-button">
                            <img class="img-garbage" src="{{ url_for('static', filename='image/icon_delete.png') }}" alt="">
                        </button>
                    </div>
                    <div class="all-mes">
                        <span class="mes-head">日期：</span>
                        <span class="booking-date"></span>
                    </div>
                    <div class="all-mes">
                        <span class="mes-head">時間：</span>
                        <span class="booking-time">根據選擇時間</span>
                    </div>
                    <div class="all-mes">
                        <span class="mes-head">費用：</span>
                        <span class="booking-price">根據選擇費用</span>
                    </div>
                    <div class="all-mes">
                        <span class="mes-head">地點：</span>
                        <span class="booking-address">地址</span>
                    </div>
                </div>   
            </div>
        </div>
        <hr>
        <div class="zone">
            <div class="zone-setting">
                <div class="box-title">您的聯絡資訊</div>
                <div class="contact-content">
                    <label class="info-title">聯絡姓名：</label>
                    <span><input type="text" class="input-info" id="user"></span>
                </div>
                <div class="contact-content">
                    <label class="info-title">聯絡信箱：</label>
                    <span><input type="email" class="input-info" id="user-email"></span>
                </div>
                <div class="contact-content">
                    <label for="" class="info-title">手機號碼：</label>
                    <span class="" id=""><input type="tel" class="input-info" placeholder="09xx-xxx-xxx"></span>
                </div>
                <div class="contact-notice">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            </div>
        </div>
        <hr>
        <div class="zone">
            <div class="zone-setting">
                <div class="box-title">信用卡付款資訊</div>
                <div class="contact-content">
                    <label for="" class="info-title">卡片號碼：</label>
                    <span id=""><input type="text" class="input-info" placeholder="xxxx-xxxx-xxxx-xxxx"></span>
                </div>
                <div class="contact-content">
                    <label for="" class="info-title">過期時間：</label>
                    <span id=""><input type="text" class="input-info" placeholder="mm-yy"></span>
                </div>
                <div class="contact-content">
                    <label for="" class="info-title">驗證密碼：</label>
                    <span id=""><input type="text" class="input-info" placeholder=""></span>
                </div>
            </div>
        </div>
        <hr>
        <div class="zone">
            <div class="confirm-zone">
                <div class="confirm-mes">
                    <div class="confirm-fee">
                        <span class="mes-head">總價：
                            <span class="booking-total"></span>
                        </span>
                    </div>
                    <button class="submit">確認訂購並付款</button>
                </div>
            </div>
        </div>
    </div>
</sention>
<script derf src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}