{% extends "base.html" %}

{% block title %}感謝訂購臺北一日遊行程{% endblock %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/thankyou.css') }}">
{% endblock %}

{% block content %}
<senction>
    <div class="success">
        <div class="content">
            <span class="username"></span><span class="">，您好</span>
        </div>
        <div class="content">
            <div class="">感謝訂購臺北一日遊</div>
        </div>
        <div class="content">
            <div class="">行程預定成功，您的訂單編號如下：</div>
        </div>
        <div class="content">
            <div class="order-number"></div>
        </div>
        <div class="content">
            <div class="">請記住此編號，或到會員中心查詢歷史訂單</div>
        </div>
    </div>
    <div class="error">
        <div class="content">
            <span class="username"></span><span class=""> 您好</span>
        </div>
        <div class="content">
            <div class="">目前沒有已付款訂單</div>
        </div>
    </div>
</senction>
<script derf src="{{ url_for('static', filename='js/thankyou.js') }}"></script>
{% endblock %}